// رنگ‌های پایه برای تم تاریک سایت فیلم

$color-bg: #0e0e10;
$color-surface: #221f1f;
$color-primary: #EB9200;   // Netflix red
$color-accent: #f5c518;    // IMDB yellow
$color-text: #ffffff;
$color-text-muted: #aaaaaa;

// اندازه‌ها و رادیوس
$radius: 0.5rem;
$padding: 1rem;
